#AAYUSH KUMAR CHAUDHARY
#23053767
#PANDAS

#1.Read the student marks from the student_marks_10.csv file and perform the following: a) Calculate Total Marks and Average Marks for each student b) Add a column Result (Pass if Average ≥ 50, otherwise Fail)

In [1]:
import pandas as pd
df = pd.read_csv("student_marks_10.csv")
df["Total Marks"] = df["Maths"] + df["Science"] + df["English"]

df["Average Marks"] = df["Total Marks"] / 3
df["Result"] = "Fail"
df.loc[df["Average Marks"] >= 50, "Result"] = "Pass"

print(df)

    Name  Maths  Science  English  Total Marks  Average Marks Result
0   Amit     78       85       70          233      77.666667   Pass
1   Rina     45       40       50          135      45.000000   Fail
2  Suman     60       55       65          180      60.000000   Pass
3  Kiran     30       35       25           90      30.000000   Fail
4  Rahul     88       90       85          263      87.666667   Pass
5  Pooja     92       88       90          270      90.000000   Pass
6   Aman     55       58       60          173      57.666667   Pass
7  Sneha     67       70       72          209      69.666667   Pass
8  Rohit     40       42       45          127      42.333333   Fail
9   Neha     73       75       78          226      75.333333   Pass

#2.Read employee details from the employee_salary_10.csv file and: a) Increase salary by 10% if experience ≥ 5 years b) Increase salary by 5% otherwise c) Add a column New_Salary

In [2]:
import pandas as pd

df = pd.read_csv("employee_salary_10.csv")
df["New_Salary"] = df["Salary"]

df.loc[df["Experience"] >= 5, "New_Salary"] = df["Salary"] * 1.10
df.loc[df["Experience"] < 5, "New_Salary"] = df["Salary"] * 1.05

print(df)

   EmpID    Name  Experience  Salary  New_Salary
0    101    Ravi           6   50000     55000.0
1    102   Anita           3   40000     42000.0
2    103  Suresh           8   60000     66000.0
3    104   Meena           2   35000     36750.0
4    105   Kunal           5   45000     49500.0
5    106   Priya           1   32000     33600.0
6    107    Ajay          10   70000     77000.0
7    108  Sunita           4   38000     39900.0
8    109   Manoj           7   58000     63800.0
9    110  Kavita           3   42000     44100.0

/tmp/ipython-input-2050111900.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[55000. 66000. 49500. 77000. 63800.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df["Experience"] >= 5, "New_Salary"] = df["Salary"] * 1.10

#3.Read sales data from the sales_data_10.csv file and: a) Calculate total sales per product b) Calculate average sales per product

In [3]:
import pandas as pd

df = pd.read_csv("sales_data_10.csv")
result = df.groupby("Product")["Sales"].agg(
    Total_Sales="sum",
    Average_Sales="mean"
)

print(result)

         Total_Sales  Average_Sales
Product
Eraser           170      85.000000
Marker           380     190.000000
Pen              350     116.666667
Pencil           480     160.000000

#4. Read student marks from the missing_marks_10.csv file and: a) Identify missing values b) Replace missing values with the mean of the Marks column Sample Input: missing_marks_10.csv

In [8]:
import pandas as pd

df = pd.read_csv("missing_marks_10.csv")

print("Missing values:\n", df.isnull())

mean_marks = df["Marks"].mean()

df["Marks"] = df["Marks"].fillna(mean_marks)

print("\nAfter replacing missing values:\n", df)

Missing values:
     Name  Marks
0  False  False
1  False   True
2  False  False
3  False   True
4  False  False
5  False  False
6  False   True
7  False  False
8  False  False
9  False   True

After replacing missing values:
      Name      Marks
0   Rahul  85.000000
1   Pooja  80.333333
2    Aman  78.000000
3   Sneha  80.333333
4   Rohit  90.000000
5    Neha  88.000000
6   Vikas  80.333333
7  Anjali  72.000000
8   Karan  69.000000
9    Isha  80.333333

#5. Read attendance details from the attendance_10.csv file and: a) Display students having attendance < 75% b) Count the total number of such students

In [6]:
import pandas as pd

df = pd.read_csv("missing_marks_10.csv")

print("Missing values:\n", df.isnull())

mean_marks = df["Marks"].mean()
df["Marks"] = df["Marks"].fillna(mean_marks)

print("\nAfter replacing missing values:\n", df)

Missing values:
     Name  Marks
0  False  False
1  False   True
2  False  False
3  False   True
4  False  False
5  False  False
6  False   True
7  False  False
8  False  False
9  False   True

After replacing missing values:
      Name      Marks
0   Rahul  85.000000
1   Pooja  80.333333
2    Aman  78.000000
3   Sneha  80.333333
4   Rohit  90.000000
5    Neha  88.000000
6   Vikas  80.333333
7  Anjali  72.000000
8   Karan  69.000000
9    Isha  80.333333