# Aayush Kumar Chaudhary
# 23054767

## LIST

In [23]:
#1.Write a program to find the largest element in a list by user input.

n = int(input("enter no of ele: "))
number = []

for i in range(n):
    number.append(int(input("enter ele: ")))

largest = number[0]

for num in number:
    if num > largest:
        largest = num

print("Largest element:", largest)

enter no of ele: 1
enter ele: 5
Largest element: 5

In [24]:
#2.Write a program to reverse a list without using reverse().
num = [1, 2, 3, 4, 5]
rev = []

for i in range(len(num)-1, -1, -1):
    rev.append(num[i])

print(rev)

[5, 4, 3, 2, 1]

In [25]:
#3.Write a program to remove duplicate elements from a list.
num = [1, 2, 2, 3, 4, 4, 5]
new_list = []

for item in num:
    if item not in new_list:
        new_list.append(item)

print(new_list)

[1, 2, 3, 4, 5]

##TUPLE

In [42]:
#1.Write a program to find the sum of elements in a tuple.
t = (1, 2, 3, 4)
total = 0

for i in t:
    total += i

print("Sum =", total)

Sum = 10

In [28]:
#2.Write a program to find the maximum and minimum value in a tuple.

num = (5,60,70,30,50)
max_num = num[0]
for i in num:
    if i > max_num:
        max_num = i
print(max_num)

min_num = num[0]
for i in num:
    if i < min_num:
        min_num = i
print(min_num)

70
5

In [29]:
#3.Write a program to count occurrences of an element in a tuple.

num = (40, 10, 15, 80, 60, 60, 10, 15, 15)

ele = int(input("enter ele to count: "))
count = 0
for i in num:
    if i == ele:
        count += 1
print(count)

enter ele to count: 15
3

##STRING

In [30]:
#1.Write a program to reverse a string.

str = input("enter string: ")

rev = str[::-1]

print(rev)

enter string: abcd
dcba

In [31]:
#2.Write a program to check if a string is a palindrome.

str = input("enter string: ")

rev = str[::-1]

if str == rev:
    print("palindrome")
else:
    print("not palindrome")

enter string: madam
palindrome

In [32]:
#3.Write a program to count vowels in a string.

str = input("enter string: ")

vowels = "aeiouAEIOU"
count = 0

for char in str:
    if char in vowels:
        count += 1

print("No. of vowel:", count)

enter string: apple
No. of vowel: 2

## SET

In [33]:
#1.Write a program to find the union of two sets by use input.

set1 = set(input("enter 1st set ").split())

set2 = set(input("enter 2nd set ").split())

union_set = set1.union(set2)
print("Union of the two sets:", union_set)

enter 1st set 1 2 3
enter 2nd set 5 6 7
Union of the two sets: {'5', '3', '2', '1', '6', '7'}

In [35]:
#2.Write a program to remove all elements from a set.

set1 = {1, 2, 3, 4, 5}

set1.clear()

print(set1)

set()

In [36]:
#3. Write a program to find the unique characters in a string.
text = "apple"
uni_char = set(text)
print(uni_char)

{'a', 'l', 'p', 'e'}

## DICTONARY

In [37]:
#1.Write a program to find the key with the maximum value in a dictionary.

scores = {'Alice': 88, 'Bob': 95, 'Charlie': 90}

max_scores = max(scores, key=scores.get)
print(max_scores)

Bob

In [38]:
#2.Write a program to sort a dictionary by its values.

data = {'a': 3, 'b': 1, 'c': 2, 'd': 5}

sorted_dict = dict(sorted(data.items(), key=lambda item: item[1]))

print("Sorted  by Values:")
print(sorted_dict)

Sorted  by Values:
{'b': 1, 'c': 2, 'a': 3, 'd': 5}

In [43]:
#3.Write a program to create a dictionary from two lists.

keys = ['a', 'b', 'c']
values = [10, 5, 90]

d = dict(zip(keys, values))

print(d)

{'a': 10, 'b': 5, 'c': 90}