#Aayush Kumar Chaudhary
#23053767
#Pandas

#1. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.:

In [2]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([2, 4, 6, 8])

add = s1 + s2
print("Addition:")
print(add)

sub = s1 - s2
print("\nSubtraction:")
print(sub)

mul = s1 * s2
print("\nMultiplication:")
print(mul)

div = s1 / s2
print("\nDivision:")
print(div)

Addition:
0    12
1    24
2    36
3    48
dtype: int64

Subtraction:
0     8
1    16
2    24
3    32
dtype: int64

Multiplication:
0     20
1     80
2    180
3    320
dtype: int64

Division:
0    5.0
1    5.0
2    5.0
3    5.0
dtype: float64

# 2. Write a Pandas program to convert a dictionary to a Pandas series.

In [3]:
import pandas as pd

data = {'a': 100, 'b': 200, 'c': 300, 'd': 400}

series = pd.Series(data)

print("Pandas Series from Dictionary:")
print(series)

Pandas Series from Dictionary:
a    100
b    200
c    300
d    400
dtype: int64

#3. Write a Pandas program to convert a NumPy array to a Pandas series.

In [4]:
import pandas as pd
import numpy as np

arr = np.array([5, 10, 15, 20])

series = pd.Series(arr)

print("Pandas Series from NumPy array:")
print(series)

Pandas Series from NumPy array:
0     5
1    10
2    15
3    20
dtype: int64

#4. Write a Pandas program to convert a given Series to an array.

In [5]:
import pandas as pd

series = pd.Series([1, 2, 3, 4, 5])

array = series.to_numpy()

print("NumPy array from Pandas Series:")
print(array)

NumPy array from Pandas Series:
[1 2 3 4 5]

#5. Write a Pandas program to convert Series of lists to one Series.

In [6]:
import pandas as pd

series = pd.Series([[1, 2, 3], [4, 5], [6, 7, 8]])

new_series = series.explode()

print("Single Pandas Series:")
print(new_series)

Single Pandas Series:
0    1
0    2
0    3
1    4
1    5
2    6
2    7
2    8
dtype: object

#6. Write a Pandas program to create a dataframe from a dictionary and display it.

In [7]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [20, 21, 19],
    'Marks': [85, 90, 88]
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Marks
0    Alice   20     85
1      Bob   21     90
2  Charlie   19     88

#7. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [8]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10]
})

print(df.head(3))

   A  B
0  1  6
1  2  7
2  3  8

#8. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame. Sample Python dictionary data and list labels:

In [9]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)

print(df[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

#9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN. Sample Python dictionary data and list labels:

In [10]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)

print(df[df['score'].isna()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

#10. Pandas program to append a new row 'k' and then delete it

In [11]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)

df.loc['k'] = ['Suresh', 15.5, 2, 'yes']
print("After adding new row:")
print(df)

df = df.drop('k')
print("\nAfter deleting new row:")
print(df)

After adding new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         2     yes

After deleting new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes